/*
    Site Project Layout Styles
    Author: seoul2045
    Filename: site_project_layout.css
*/

/* * { /*this is great for troubleshooting and you can use other elements in place of * asterik
    outline: 1px solid red;
}
*/

body {

}

/*
nav {
    width: 175px;
    float: left;
    margin-right: 15px;
}
*/