/*
   Personal Website Table Style Sheet
   Author: seoul2045
   Date:   2016-03-13

   Filename:         tables.css
   Supporting Files: none
*/

/*Styles for the schedule tables*/
table.weeklySchedule {
    border: 10px outset;
}

table.sleepSchedule {
    border: 10px outset;
}

table.weekendSchedule {
    border: 10px outset;
}
